<div class='d-flex flex-start mb-4'>
  <div class='card w-100'>
    <div class='card-body p-4'>
      <div class=''>
        <h5>{{this.user.username}}</h5>
        <p class='small'>commented on {{format_date this.commented_on}}</p>
        <p>
          {{this.comment_content}}
        </p>
      </div>
    </div>
  </div>
</div>