{{#each blogs as |blog| }}
    <div class="pt-4">
        <div class="card w-75 mx-auto">
          <div class="card-header d-flex justify-content-between align-items-center">
            <a href="#">{{blog_title}}</a>
            <span class="text-end">{{user.username}}</span>
          </div>
          <div class="card-body">
            <p class="card-text">{{blog_content}}</p>
          </div>
        </div>
      </div>
{{/each}}


