<h3>New Blog</h3>

<form class="w-75">
  <div class="mb-3">
    <label for="blog-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="blog-title">
  </div>
 <div class="mb-3">
  <label for="blog-content" class="form-label">Blog Away</label>
  <textarea class="form-control" id="blog-content" rows="5"></textarea>
</div>
  <button type="submit" class="btn btn-primary" id="blog-submit">Submit</button>
</form>

<script src="/js/utilities/addBlog.js" defer></script>