<form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="">
    <div id="emailHelp" class="form-text">Keep it short and to the point.</div>
  </div>
 <div class="mb-3">
  <label for="blog-content-area" class="form-label">Blog Away</label>
  <textarea class="form-control" id="blog-content" rows="5"></textarea>
</div>
  <button type="submit" class="btn btn-primary" id="blog-form">Submit</button>
</form>